#corpo{
    background-color: #FFF8DC; /* GIALLOGNOLO*/
}

#pagina{
    margin: -1em auto 0em auto;
    width: 47em;
    height: 43em;
}

#errore{
    background-color: red;
    color: #F8F8FF; /* BIANCO */
    font-family: Arial;
    font-size: 2em;
    text-align: center;

    margin-top: 3em;
}

h1{
    color: #008080;
    font-size: 3em;
    font-family: Arial;
    text-align: center;
}

#dati{
    text-align: center;
}

.cornice1{
    background-color: #008080;

    margin: -0.5em auto 0em auto;
    /*margin-left: 9em;*/
    height: 3.7em;
    width: 17.5em;
}

.cornice2{
    background-color: #008080;

    margin: -0.5em auto 0em auto;
    /*margin-left: 1em;*/
    height: 3.7em;
    width: 34em;
}

.cornice3{
    background-color: #008080;

    margin: -0.5em auto 0em auto;
    /*margin-left: 1em;*/
    height: 5.4em;
    width: 34em;
}

p{
    color: #FFF8DC;
    font-size: 1.3em;
    font-family: Arial;
    text-align: center;

    margin-bottom: 0em;
}

.campo{
    font-size: 1.3em;
    font-family: Arial;
    text-align: center;
    background-color: #F8F8FF;

    border: 0.1em solid #008080;
    border-radius: 1em;
}

.campoCliente1{
    font-size: 1.3em;
    font-family: Arial;
    text-align: center;
    background-color: #F8F8FF;

    border: 0.1em solid #008080;
    border-radius: 1em;
    margin-left: 1.7em;
    float: left;
}

.campoCliente2{
    font-size: 1.3em;
    font-family: Arial;
    text-align: center;
    background-color: #F8F8FF;

    border: 0.1em solid #008080;
    border-radius: 1em;
    margin-left: 4.4em;
    float: left;
}

.campoAgente1{
    font-size: 1.3em;
    font-family: Arial;
    text-align: center;
    background-color: #F8F8FF;

    border: 0.1em solid #008080;
    border-radius: 1em;
    margin-right: 4.8em;
    float: right;
}

.campoAgente2{
    font-size: 1.3em;
    font-family: Arial;
    text-align: center;
    background-color: #F8F8FF;

    border: 0.1em solid #008080;
    border-radius: 1em;
    margin-right: 0.5em;
    float: right;
}

.campoDescrizione{
    font-size: 1.3em;
    font-family: Arial;
    background-color: #F8F8FF;

    border: 0.1em solid #008080;
    border-radius: 1em;
    height: 2.4em;
    width: 25em;

    /*textarea non ridimensionabile*/
    resize: none;
}

/*Quando non sei sul bottone*/
#bt1{
    color: #F8F8FF;
    font-size: 1em;
    font-family: Arial;
    font-weight: bold;
    background-color: #008080;
    border: 0.3em solid #008080;
    border-radius: 1em;
    margin-top: 2em;

    transition-duration: 0.5s;
    /*Il cursore diventa la mano*/
    cursor: pointer;
}

/*Quando sei sul bottone*/
#bt1:hover {
    color: #008080;
    background-color: #F8F8FF;
    border: 0.3em solid #008080;
}

/*Quando non sei sul bottone*/
#bt2{
    color: #F8F8FF;
    font-size: 1em;
    font-family: Arial;
    font-weight: bold;
    background-color: #008080;

    border: 0.3em solid #008080;
    border-radius: 1em;
    float: left;
    margin-top: 3em;
    margin-left: 6.5em;

    transition-duration: 0.5s;
    /*il cursore diventa la mamo*/
    cursor: pointer;
}

/*Quando sei sul bottone*/
#bt2:hover {
    color: #008080;
    background-color: #F8F8FF;
    border: 0.3em solid #008080;
}