#corpo{
    background-color: #FFF8DC;
}
#errore{
    background-color: red;
    color: #F8F8FF;
    font-family: Arial;
    font-size: 3em;

    position: absolute;
    left: 0;
    bottom: -0.8em;

    width:100%;
}
h1{
    color: #008080;
    font-size: 3em;
    font-family: Arial;
    text-align: center;

    position: absolute;
    top: -0.4em;
    left: 50%;
    margin-left: -7.8em;
    /*height: 1em;*/
    width: 15.5em;
}

#dati{
    text-align: center;

    /*Dati responsive*/
    position: absolute;
    top: 4em;
    left: 50%;
    margin-left: -18em;
    margin-right: -18em;
    height: 36em;
    width: 36em;
}

.cornice1{
    background-color: #008080;

    margin-left: 9em;
    height: 3.7em;
    width: 17.5em;
}

.cornice2{
    background-color: #008080;

    margin-left: 1em;
    height: 3.7em;
    width: 34em;
}

.cornice3{
    background-color: #008080;

    margin-left: 1em;
    height: 5.4em;
    width: 34em;
}

p{
    color: #FFF8DC;
    font-size: 1.3em;
    font-family: Arial;
    text-align: center;

    margin-bottom: 0em;
}

.campo{
    font-size: 1.3em;
    font-family: Arial;
    text-align: center;
    background-color: #F8F8FF;

    border: 0.1em solid #008080;
    border-radius: 1em;
    margin-top: 0em;
}

.campoCliente{
    font-size: 1.3em;
    font-family: Arial;
    text-align: center;
    background-color: #F8F8FF;

    border: 0.1em solid #008080;
    border-radius: 1em;
    margin-top: 0em;
    margin-left: 4.5em;
    float: left;
}

.campoAgente1{
    font-size: 1.3em;
    font-family: Arial;
    text-align: center;
    background-color: #F8F8FF;

    border: 0.1em solid #008080;
    border-radius: 1em;
    margin-top: 0em;
    margin-right: 4.8em;
    float: right;
}

.campoAgente2{
    font-size: 1.3em;
    font-family: Arial;
    text-align: center;
    background-color: #F8F8FF;

    border: 0.1em solid #008080;
    border-radius: 1em;
    margin-top: 0em;
    margin-right: 0.5em;
    float: right;
}

.campoDescrizione{
    font-size: 1.3em;
    font-family: Arial;
    background-color: #F8F8FF;

    border: 0.1em solid #008080;
    border-radius: 1em;
    margin-top: 0em;
    height: 2.4em;
    width: 25em;

    /*textarea non ridimensionabile*/
    resize: none;
}

/*Quando non sei sul bottone*/
#bt1{
    color: #F8F8FF;
    font-size: 1em;
    font-family: Arial;
    font-weight: bold;
    background-color: #008080;
    border: 0.3em solid #008080;
    border-radius: 1em;

    transition-duration: 0.5s;
    /*Il cursore diventa la mamo*/
    cursor: pointer;
}

/*Quando sei sul bottone*/
#bt1:hover {
    color: #008080;
    background-color: #F8F8FF;
    border: 0.3em solid #008080;
}

/*Quando non sei sul bottone*/
#bt2{
    color: #F8F8FF;
    font-size: 1em;
    font-family: Arial;
    font-weight: bold;
    background-color: #008080;

    border: 0.3em solid #008080;
    border-radius: 1em;
    float: left;
    margin-top: 2em;
    margin-left: 1em;

    transition-duration: 0.5s;
    /*il cursore diventa la mamo*/
    cursor: pointer;
}

/*Quando sei sul bottone*/
#bt2:hover {
    color: #008080;
    background-color: #F8F8FF;
    border: 0.3em solid #008080;
}