#corpo{
  background: #FFF8DC;
}

#pagina{
  margin: auto;
  width: 94em;
}

h1{
  color: #008080;
  text-align: center;
  font-family: Arial;
  font-size: 3em;
}

#movTitoloTb{
  /*Sposta la tabella dei titoli*/
  /*con lo scorrimento della pagina*/
  position: sticky;
  top: 0em;
}

table{
  color: #008080;
  background-color: #8FBC8F;
  font-family: Arial;
  text-align: center;

  margin-top: 0.5em;

  border: 0.3em solid #F8F8FF;
  border-radius: 0.4em; /* ANGOLI */

  width: 100%;
  table-layout:fixed; /*Mantiene le celle tutte uguali di dimensione*/
}

th{
  border: solid; /* Bordo superiore e sinistro */
  border-right: inset white;
  border-bottom: inset white;
  height: 4em;
}

td{
  border: solid; /* Bordo superiore e sinistro */
  border-right: inset white;
  border-bottom: inset white;
  height: 4em;
}

/*Quando non sei sul bottone*/
.ordina{
  color: #F8F8FF;
  background-color: #FF8C00;
  text-align: center;
  font-weight: bold;
  font-family: Arial;
  border: solid #FF8C00;
  border-radius: 1em;

  margin: 0.1em 0.1em 0.1em 0.1em;

  transition-duration: 0.5s;
  /*Il cursore diventa la mamo*/
  cursor: pointer;
}

/*Quando sei sul bottone*/
.ordina:hover {
  color: #FF8C00;
  background-color: #F8F8FF;
  border: solid #FF8C00
}

/*Quando non sei sul link*/
.modLink{
  color: #008080;
  background-color: #F8F8FF;
  font-family: Arial;
  font-weight: bold;
  border: 0.3em solid #F8F8FF;
  border-radius: 1em;

  transition-duration: 0.5s;
  /*Il cursore diventa la mamo*/
  cursor: pointer;
}

/*Quando sei sul link*/
.modLink:hover {
  color: #F8F8FF;
  background-color: #008080;
  border: 0.3em solid #008080;
}

/*Quando non sei sul bottone*/
#modLogout{
  color: #F8F8FF;
  background-color: #008080;
  font-family: Arial;
  font-weight: bold;
  border: 0.3em solid #008080;
  border-radius: 1em;
  width: 4em;

  transition-duration: 0.5s;
  /*Il cursore diventa la mamo*/
  cursor: pointer;
}

/*Quando sei sul bottone*/
#modLogout:hover {
  color: #008080;
  background-color: #F8F8FF;
  border: 0.3em solid #008080;

}

#descTab{
  color: black;
  font-family: Arial;
}