<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Errore</title>
        <!-- File CSS -->
        <link rel="stylesheet" type="text/css" href="/static/css/error.css">
    </head>

    <body id="corpo">
        <h1>Errore !</h1>

        <p>Autenticazione Neccessaria prima di accedere!</p>

        <form action="/" method="get">
            <input id="bt" type="submit" value= "Torna al Login"/>
        </form>
    </body>
</html>