<!DOCTYPE html>
<html>
	<head>
		<title>Pagina di login</title>
		<link rel="stylesheet" type="text/css" href="/static/css/login.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	</head>

    <body id="corpo">
        {%if error == 'Yes'%}
            <p id="errore">Credenziali errate!</p>
        {%endif%}

        <div id="sfondoCred"></div>

        <div id="marchio"></div>
    </body>
</html>

<script>
    var event_data = '';
    var event_data1 = '';
    var event_data2 = '';
    document.addEventListener('DOMContentLoaded', function (data) {
        event_data += '<h1 id="titolo">Login</h1>';
        event_data += '<form action="login" method="post">' +
            '<input class="campo" name="username" type="text" maxlength="6" pattern="[ACD0-9]{4,}" placeholder="Username" required/>' +
            '<input class="campo" name="password" type="password" maxlength="16" placeholder="Password" required/>' +
            '<input type="hidden" name="ruolo" />' +
            '<br/><br/><br/>' +
            '<input id="bottone" type="submit" value="Accedi"/>' +
            '</form>';
        event_data1 += '<hr/>';
        event_data1 += '<p>Paolo Graziani - Lorenzo Genghini © 2021</p>';
        $("#sfondoCred").append(event_data);
        $("#marchio").append(event_data1);
    },false);
</script>