<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="static/insModOrder.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>

    <body>
        <h1 class="titolo">Modifica i dati dell'ordine</h1>

        <div class="dati">
            <form action="update" method="post">
                <div class="cornice1" id="ord_num"></div>
                <br>
                <div class="cornice2" id="prezzi"></div>
                <br>
                <div class="cornice1" id="data"></div>
                <br>
                <div class="cornice2" id="codiceCA"></div>
                <br>
                <div class="cornice3" id="descrizione"></div>
                <br><br>
                <input class="bt1" type="submit" value="Modifica"/>
            </form>
            <form>
                <input class="bt2" type="button" onclick="history.go(-1);return true;" value="Indietro"/>
            </form>
        </div>
    </body>
</html>

<script>
    username = "{{ username }}"

    $.ajax({
        url: "/api/orders/dataorder?ordNum={{ ordNum }}",
        method: 'GET',
        dataType: 'json',
        success: function (data) {
            var event_data = '';
            var event_data1 = '';
            var event_data2 = '';
            var event_data3 = '';
            var event_data4 = '';
            $.each(data, function (index, value) {
                event_data += '<p>N° ordine</p>';
                event_data += '<input class="campo" name="ord_num" type="text" placeholder="000000" value="' + value.num_ord + '" readonly/>';

                event_data1 += '<p>Prezzo&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Anticipo</p>';
                event_data1 += '<input class="campo" name="ord_amount" type="text" placeholder="0.00" maxlength="15" pattern="[0-9]+\.[0-9]{2}"value="'+value.importOrder+'" required/>';
                event_data1 += '<input class="campo" name="advance_amount" type="text" placeholder="0.00" maxlength="15" pattern="[0-9]+\.[0-9]{2}"value="'+value.advance_ord+'" required/>';

                event_data2 += '<p>Data ordine</p>';
                event_data2 += '<input class="campo" name="ord_date" type="date" min="2000-01-02" max="2100-12-31" value="'+value.ordDate+'" required/>';

                event_data3 += '<p>Codice cliente&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Codice agente</p>';
                event_data3 += '<select class="campoCliente" name="cust_code" required> <option value="'+ value.Cust_id +'"></option> </select>';
                event_data3 += '<input class="campoAgente2" name="agent_code" type="text" value="'+username+'" readonly/>';

                event_data4 += '<p>Descrizione ordine</p>';
                event_data4 += '<textarea class="campoDescrizione" name="ord_description" maxlength="60" placeholder="Descrizione ordine..." value="'+value.Description+'"required></textarea>';
            });
            $("#ord_num").append(event_data);
            $("#prezzi").append(event_data1);
            $("#data").append(event_data2);
            $("#codiceCA").append(event_data3);
            $("#descrizione").append(event_data4);
        },
    })
</script>