<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="static/css/insModOrder.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src = "static/js/modify.js"></script>
    </head>

    <body id="corpo">
        <h1>Modifica i dati dell'ordine</h1>

        <div id="dati">
            <form action="update" onsubmit="return beforeSubmit()" method="post">
                <div class="cornice1" id="ord_num"></div>
                <br>
                <div class="cornice2" id="prezzi"></div>
                <br>
                <div class="cornice1" id="data"></div>
                <br>
                <div class="cornice2" id="codiceCA"></div>
                <br>
                <div class="cornice3" id="descrizione"></div>
                <br><br>
                <input id="bt1" type="button" onclick="beforeSubmit()" value="Modifica"/>
            </form>

            <form action="back" method="post">
                <input id="bt2" type="submit" value="Indietro"/>
            </form>
        </div>

        <p id="errore"></p>
    </body>

    <script>
        var ord_num = {{ordNum}};
    </script>
</html>