<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nuovo Ordine</title>
        <link rel="stylesheet" type="text/css" href="static/order.css">
    </head>
    <body id="corpo">
        {{ session['role'] }}
        <!-- In base all'azione da eseguire cambio la pagina-->
        {%if function == 'Inserisci'%}
            <h1 class="titolo">Inserisci i dati del nuovo ordine</h1>

            <div class="dati">
                <form action="insert" method="post">
                    <div class="cornice1">
                        <p>N° ordine</p>
                        <input class="campo" name="ord_num" type="text" placeholder="000000" pattern="[0-9]{6}" required/>
                    </div>
                    <br>
                    <div class="cornice2">
                        <p>Prezzo&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Anticipo</p>
                        <input class="campo" name="ord_amount" type="text" placeholder="0.00" maxlength="15" pattern="[0-9]+\.[0-9]{2}" required/>
                        <input class="campo" name="advance_amount" type="text" placeholder="0.00" maxlength="15" pattern="[0-9]+\.[0-9]{2}" required/>
                    </div>
                    <br>
                    <div class="cornice1">
                        <p>Data ordine</p>
                        <input class="campo" name="ord_date" type="date" min="2000-01-02" max="2100-12-31" required/>
                    </div>
                    <br>
                    <div class="cornice2">
                        <p>Codice cliente&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Codice agente</p>
                        <select class="campo" name="cust_code" required>
                            {% for row in clienti %}
                                <option value="{{row[0]}}"> {{row[0]}} </option>
                            {% endfor %}
                        </select>
                        <input class="campo" name="agent_code" type="text" value="{{session['username']}}" readonly/>
                    </div>
                    <br>
                    <div class="cornice3">
                        <p>Descrizione ordine</p>
                        <textarea class="campoDescrizione" name="ord_description" maxlength="60" placeholder="Descrizione ordine..." required></textarea>
                    </div>
                    <br><br>
                    <input class="bt1" type="submit" value="Inserisci"/>
                </form>
                <form>
                    <input class="bt2" type="button" onclick="history.go(-1);return true;" value="Indietro"/>
                </form>
            </div>
        {%endif%}
        {%if function == 'Modifica'%}
            <h1 class="titolo">Modifica i dati dell'ordine</h1>

            <div class="dati">
                <form action="update" method="post">
                    <div class="cornice1">
                        <p>N° ordine</p>
                        <input class="campo" name="ord_num" type="text" placeholder="000000" pattern="[0-9]{6}" value="{{ord_data[0][0]}}" readonly />
                    </div>
                    <br>
                    <div class="cornice2">
                        <p>Prezzo&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Anticipo</p>
                        <input class="campo" name="ord_amount" type="text" placeholder="0.00" maxlength="15" pattern="[0-9]+\.[0-9]{2}" value="{{ord_data[0][1]}}" required/>
                        <input class="campo" name="advance_amount" type="text" placeholder="0.00" maxlength="15" pattern="[0-9]+\.[0-9]{2}" value="{{ord_data[0][2]}}" required/>
                    </div>
                    <br>
                    <div class="cornice1">
                        <p>Data ordine</p>
                        <input class="campo" name="ord_date" type="date" min="2000-01-02" max="2100-12-31" value="{{ord_data[0][3]}}" required/>
                    </div>
                    <br>
                    <div class="cornice2">
                        <p>Codice cliente&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Codice agente</p>
                        <select class="campo" name="cust_code" required>
                            {% for row in clienti %}
                                <option value="{{row[0]}}"> {{row[0]}} </option>
                            {% endfor %}
                        </select>
                        <input class="campo" name="agent_code" type="text" pattern="[A]+[0-9]{1,5}" placeholder="A000" value="{{ord_data[0][5]}}" readonly/>
                    </div>
                    <br>
                    <div class="cornice3">
                        <p>Descrizione ordine</p>
                        <textarea class="campoDescrizione" name="ord_description" maxlength="60" placeholder="Descrizione ordine..." value="{{ord_data[0][6]}}" required></textarea>
                    </div>
                    <br><br>
                    <input class="bt1" type="submit" value="Modifica"/>
                </form>
                <form>
                    <input class="bt2" type="button" onclick="history.go(-1);return true;" value="Indietro"/>
                </form>
            </div>
        {%endif%}
    </body>
</html>