<!DOCTYPE HTML>
<html lang="en">
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,height=device-height,minimum-scale=1.0, maximum-scale=1.0,initial-scale=1.0,user-scalable=no">
        <title>Lista ordini</title>
        <link rel="stylesheet" type="text/css" href="static/css/listOrders.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src = "static/js/sort.js"></script>
        <script src = "static/js/populatecustomersTable.js"></script>
    </head>

    <body id="corpo">
        <div id="pagina">
            <h1 aria-describedby="description">Ordini</h1>

            <!-- Titolo tabella -->
            <div id="movTitoloTb">
                <table>
                    <thead>
                        <tr>
                            <th aria-describedby="col1">
                                Numero ordine
                                <br>
                                <button class="ordina" sort="ord_num">+</button>
                                <button class="ordina" sort="-ord_num">&thinsp;-&thinsp;</button>
                            </th>
                            <th aria-describedby="col2">
                                Importo ordine
                                <br>
                                <button class="ordina" sort="ord_amount">+</button>
                                <button class="ordina" sort="-ord_amount">&thinsp;-&thinsp;</button>
                            </th>
                            <th aria-describedby="col3">
                                Acconto dell'ordine
                                <br>
                                <button class="ordina" sort="advance_amount">+</button>
                                <button class="ordina" sort="-advance_amount">&thinsp;-&thinsp;</button>
                            </th>
                            <th aria-describedby="col4">
                                Data dell'ordine
                                <br>
                                <button class="ordina" sort="ord_date">+</button>
                                <button class="ordina" sort="-ord_date">&thinsp;-&thinsp;</button>
                            </th>
                            <th aria-describedby="col5">
                                Agente associato
                                <br>
                                <button class="ordina" sort="agent_code">+</button>
                                <button class="ordina" sort="-agent_code">&thinsp;-&thinsp;</button>
                            </th>
                            <th aria-describedby="col6">
                                Descrizione dell'ordine
                                <br>
                                <button class="ordina" sort="ord_description">+</button>
                                <button class="ordina" sort="-ord_description">&thinsp;-&thinsp;</button>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- Dati tabella -->
            <table id="datiTab"></table>

            <!-- Bottone Logout -->
            <form action="logout">
                <br>
                <input id="modLogout" type="submit" value="Esci"/>
            </form>

            <!-- Accessibilita' -->
            <p id="descTab">La tabella raffigurata riassume gli ordini da te effettuati.</p>
            <p class="col" id="col1">colonna 1</p>
            <p class="col" id="col2">colonna 2</p>
            <p class="col" id="col3">colonna 3</p>
            <p class="col" id="col4">colonna 4</p>
            <p class="col" id="col5">colonna 5</p>
            <p class="col" id="col6">colonna 6</p>
        </div>
    </body>

    <script>
        var username = '{{ username }}';
    </script>
</html>