<!DOCTYPE HTML>
<html lang="en">
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista ordini</title>
        <!-- File CSS -->
        <link rel="stylesheet" type="text/css" href="/static/listOrders.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    </head>

    <body class="corpo">
        <h1>Ordini</h1>

        <!-- Titolo tabella -->
        <div id="movimento"></div>
        <table id="titoloTab">
        <thead>
        <tr>
            <th id="facility_header">Numero Ordine</th>
            <th>Importo ordine</th>
            <th>Acconto dell'ordine</th>
            <th>Data dell'ordine</th>
            <th>Utente Associato</th>
            <th>Agente Associato</th>
            <th>Descrizione dell'ordine</th>
            <th></th>
        </tr>
        </thead>
        </table>
        <table id="datiTab">
        <tbody id="tab_orders"></tbody>
        </table>

        <form action="logout">
            <br>
            <input id="modLogout" type="submit" value="Esci"/>
        </form>
    </body>
</html>

<script>
        $.ajax({

            url:"/api/orders",
            method: 'GET',
            dataType:'json',
            success: function (data) {
                console.log(data);
                var event_data = '';
                $.each(data, function(index, value){

                    event_data += '<tr>';
                    event_data += '<td>'+value.num_ord+'</td>';
                    event_data += '<td>'+value.importOrder+'</td>';
                    event_data += '<td>'+value.advance_ord+'</td>';
                    event_data += '<td>'+value.ordDate+'</td>';
                    event_data += '<td><details><summary>'+value.Cust_id.cust_name+'</summary>' +
                        '<div>'+'id: '+value.Cust_id.id+'<br>city: '+value.Cust_id.cust_city+'<br>working area: '+value.Cust_id.working_area+'<br>country: '+value.Cust_id.cust_country+
                            '<br>grade: '+value.Cust_id.grade+'<br>opening amt: '+value.Cust_id.opening_amt+'<br>receive amt: '+value.Cust_id.receive_amt+'<br>payment amt: '
                            +value.Cust_id.payment_amt+'<br>out standing: '+value.Cust_id.outstanding_amt+'<br>telephone number: '+ value.Cust_id.phone_no+
                        '</div></details></td>';

                    event_data += '<td><details><summary>'+value.Agent_code.agent_name+'</summary>' +
                        '<div>'+'id: '+value.Agent_code.id+'<br>working area: '+value.Agent_code.working_area+'<br>commission: '+
                        value.Agent_code.commission+'<br>telephone number: '+ value.Agent_code.phone_no+ '<br>country: '+value.Agent_code.country +
                        '</div></details></td>';
                    event_data += '<td>'+value.Description+'</td>';
                    event_data += '<td><a class="modLink" href="/changeOrder?ordNum='+value.num_ord+'"> Modifica </a></td>'
                    event_data += '</tr>';
                });
                $("#datiTab").append(event_data);
            },

               // $("#tab_orders").append(response.htmlresponse);

        });


    //$('#tab_orders').html('Test');
</script>