<!DOCTYPE HTML>
<html lang="en">
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista ordini</title>
        <link rel="stylesheet" type="text/css" href="/static/css/listOrders.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src ="static/js/sort.js"></script>
        <script src = "static/js/populateagentTable.js"></script>
    </head>

    <body class="corpo">
        <h1>Ordini</h1>

        <!-- Titolo tabella -->
        <div id="movimento">
            <table id="titoloTab">
                <thead>
                    <tr>
                        <th>
                            <div class="testoTitTabAgente">
                                Numero ordine
                            </div>
                            <div class="pozioneBt">
                                <button  class="ordina1" sort="ord_num">+</button>
                                <br>
                                <button class="ordina1" sort="-ord_num">&thinsp;-&thinsp;</button>
                            </div>
                        </th>
                        <th>
                            <div class="testoTitTabAgente">
                                Importo ordine
                            </div>
                            <div class="pozioneBt">
                                <button class="ordina1" sort="ord_amount">+</button>
                                <br>
                                <button class="ordina1" sort="-ord_amount">&thinsp;-&thinsp;</button>
                            </div>
                        </th>
                        <th>
                            <div class="testoTitTabAgente">
                                Acconto dell'ordine
                            </div>
                            <div class="pozioneBt">
                                <button class="ordina1" sort="advance_amount">+</button>
                                <br>
                                <button class="ordina1" sort="-advance_amount">&thinsp;-&thinsp;</button>
                            </div>
                        </th>
                        <th>
                            <div class="testoTitTabAgente">
                                Data dell'ordine
                            </div>
                            <div class="pozioneBt">
                                <button class="ordina1" sort="ord_date">+</button>
                                <br>
                                <button class="ordina1" sort="-ord_date">&thinsp;-&thinsp;</button>
                            </div>
                        </th>
                        <th>
                            <div class="testoTitTabAgente">
                                Utente associato
                            </div>
                            <div class="pozioneBt">
                                <button class="ordina1" sort="cust_code">+</button>
                                <br>
                                <button class="ordina1" sort="-cust_code">&thinsp;-&thinsp;</button>
                            </div>
                        </th>
                        <th>
                            <div class="testoTitTabAgente">
                                Descrizione dell'ordine
                            </div>
                            <div class="pozioneBt">
                                <button class="ordina1" sort="ord_description">+</button>
                                <br>
                                <button class="ordina1" sort="-ord_description">&thinsp;-&thinsp;</button>
                            </div>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
        <!-- Dati tabella -->
        <table id="datiTab"></table>

        <!-- Bottone inserimento nuvo ordine -->
        <form action="insertOrder" method="POST">
            <br>
            <input class="modLink" type="submit" value="Inserisci ordine"/>
        </form>

        <!-- Bottone di Logout -->
        <form action="logout">
            <br>
            <input id="modLogout" type="submit" value="Esci"/>
        </form>
    </body>
    <script>
        var username = '{{ username }}';
        console.log(username)
    </script>
</html>

