<!DOCTYPE HTML>
<html lang="en">
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista ordini</title>
        <!-- File CSS -->
        <link rel="stylesheet" type="text/css" href="static/listOrder.css">
    </head>

    <body class="corpo">
        <h1>Ordini</h1>

        <!-- Titolo tabella -->
        <div id="movimento">
            <table id="titoloTab">
                <thead>
                    <tr>
                        <th>Numero Ordine</th>
                        <th>Importo ordine</th>
                        <th>Acconto dell'ordine</th>
                        <th>Data dell'ordine</th>
                        <th>Codice dell'utente</th>
                        {%if session['role'] == 'DIRETTORE'%}
                            <th>Codice dell'agente</th>
                        {%endif%}
                        <th>Descrizione dell'ordine</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>

        <!-- Dati tabella -->
        <table id="datiTab">
            <tbody>
                <tr>
                    {%for row in orders%}
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]}}</td>
                        <td>{{row[3]}}</td>
                        <td>
                            {% for info in customerInfo %}
                                {%if info[0] == row[4]%}
                                    <details><summary> {{info[1]}} </summary>
                                        <div>
                                            Codice cliente: {{info[0]}}<br>
                                            Città: {{info[2]}}<br>
                                            Area di Lavoro: {{info[3]}}<br>
                                            Città: {{info[4]}}<br>
                                            Grado: {{info[5]}}<br>
                                            Opening amt: {{info[6]}}<br>
                                            Soldi ricevuti: {{info[7]}}<br>
                                            Pagamenti: {{info[8]}}<br>
                                            Out standing: {{info[9]}}<br>
                                            N°Telefono: {{info[10]}}<br>
                                            Agente associato: {{info[11]}}<br>
                                        </div>
                                    </details>
                                {%endif%}
                            {%endfor%}
                        </td>
                        {%if session['role'] == 'DIRETTORE'%}
                            <td>
                                {%for info in agentInfo%}
                                    {%if info[0] == row[5]%}
                                        <details><summary> {{info[1]}} </summary>
                                            <div>
                                                Codice agente: {{info[0]}}<br>
                                                Area di Lavoro: {{info[2]}}<br>
                                                Commissione: {{info[3]}}<br>
                                                N°Telefono: {{info[4]}}<br>
                                                Città: {{info[5]}}<br>
                                            </div>
                                        </details>
                                    {%endif%}
                                {%endfor%}
                            </td>
                        {%endif%}
                        <td>{{row[6]}}</td>
                        <td><a class="modLink" href="/changeOrder?ordNum={{row[0]}}"> Modifica </a></td>
                        <td><a class="modLink" href="/deleteOrder?ordNum={{row[0]}}"> Elimina </a></td>
                    {%endfor%}
                </tr>
            </tbody>
        </table>

        <!-- Bottone inserimeto ordine -->
        <form action="insertOrder" method="POST">
            <br>
            <input class="modLink" type="submit" value="Inserisci ordine"/>
        </form>

        <!-- Bottone di Logout -->
        <form action="logout">
            <br>
            <input id="modLogout" type="submit" value="Esci"/>
        </form>
    </body>
</html>