<!DOCTYPE HTML>
<html lang="en">
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista ordini</title>
        <link rel="stylesheet" type="text/css" href="/static/css/listOrders.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/static/js/sort.js"></script>
        <script src="/static/js/populatemanagerTable.js"></script>
    </head>

    <body id="corpo">
        <div id="pagina">
            <h1>Ordini</h1>

            <!-- Titolo tabella -->
            <div id="movTitoloTb">
                <table>
                    <thead>
                        <tr>
                            <th>
                                Numero ordine
                                <br>
                                <button class="ordina" sort="ord_num">+</button>
                                <button class="ordina" sort="-ord_num">&thinsp;-&thinsp;</button>
                            </th>
                            <th>
                                Importo ordine
                                <br>
                                <button class="ordina" sort="ord_amount">+</button>
                                <button class="ordina" sort="-ord_amount">&thinsp;-&thinsp;</button>
                            </th>
                            <th>
                                Acconto dell'ordine
                                <br>
                                <button class="ordina" sort="advance_amount">+</button>
                                <button class="ordina" sort="-advance_amount">&thinsp;-&thinsp;</button>
                            </th>
                            <th>
                                Data dell'ordine
                                <br>
                                <button class="ordina" sort="ord_date">+</button>
                                <button class="ordina" sort="-ord_date">&thinsp;-&thinsp;</button>
                            </th>
                            <th>
                                Utente associato
                                <br>
                                <button class="ordina" sort="cust_code">+</button>
                                <button class="ordina" sort="-cust_code">&thinsp;-&thinsp;</button>
                            </th>
                            <th>
                                Agente associato
                                <br>
                                <button class="ordina" sort="agent_code">+</button>
                                <button class="ordina" sort="-agent_code">&thinsp;-&thinsp;</button>
                            </th>
                            <th>
                                Descrizione dell'ordine
                                <br>
                                <button class="ordina" sort="ord_description">+</button>
                                <button class="ordina" sort="-ord_description">&thinsp;-&thinsp;</button>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- Dati tabella -->
            <table id="datiTab"></table>

            <!-- Bottone Logout -->
            <form action="logout">
                <br>
                <input id="modLogout" type="submit" value="Esci"/>
            </form>
        </div>
    </body>
</html>